@use "mocha.scss" as mocha;
@use "variables.scss" as v;

window {
  /* background-color: $base; */
  background: v.$background;
  color: v.$text;
  font-size: 1.2rem;
}

list {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: v.$corner-rad
}

entry {
  margin: -.5rem;
  padding: 0.5rem;
  border-radius: v.$corner-rad
}
