@use "mocha.scss" as mocha;
@use "variables.scss" as v;

// https://docs.gtk.org/gtk4/css-properties.html

// I use scss because GTK has very limited css. Doesnt even support variables.

window {
  background: v.$window_bg;
  color: v.$text;
  font-size: 1.2rem;
  font-family: JetBrainsMono Nerd Font Mono, JetBrains, monospace;
  outline-color: v.$accent;
  border: 1px solid v.$sep;
  border-radius: 1rem;
}

text {
  color: v.$text
}

.result_box {
  border: 1px solid v.$sep;
  margin: 1rem;
}

.search_box {
  margin: 1rem;
  margin-bottom: 0px;
  border: 1px solid v.$sep;
}

list {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: v.$corner-rad;
  background: #00000000;
}

row {
  background: rgba(v.$background, 1);
  margin-bottom: 0.2rem;
  padding: 0.8rem;
  border-radius: v.$corner-rad;
}

row:selected {
  background: #13132aff;
  outline-color: v.$accent;
}

entry {
  padding: 0.5rem;
  border-radius: v.$corner-rad;
  background: v.$background;
  outline-color: v.$accent;
}

.dict {
  margin: 1rem;
  background: v.$dark_bg;
  border-radius: v.$corner-rad v.$corner-rad 0rem 0rem;
}

.dict-body {
	background: v.$dark_bg;
	padding: 0.5rem;
}

separator {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background: v.$sub-text;
  padding: 0.1rem;
  border-radius: v.$corner-rad;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  border-radius: v.$corner-rad;
  margin-bottom: 0px;
  background: v.$background; 
}

.subtitle {
  color: v.$sub-text;
  font-style: italic;
}
