@use "mocha.scss" as c;

$accent: c.$mauve;

$window_bg: rgba(c.$crust, 1);
$background: c.$base;
$dark_bg: c.$mantle;

$sep: c.$subtext1;

$text: c.$text;
$sub-text: c.$subtext1;

$corner-rad: 0rem;
